<!--<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/tmp.css"/>
	</head>
	<body>-->
		<div class="footer">
			<ul>
				<li>
					<i class="icon-fot1"></i><a href="#">正品保障</a>
				</li>
				<li>
					<i class="icon-fot2"></i><a href="#">全程跟踪</a>
				</li>
				<li>
					<i class="icon-fot3"></i><a href="#">客户监督</a>
				</li>
				<li>
					<i class="icon-fot4"></i><a href="#">售后无忧</a>
				</li>
				<li>
					<i class="icon-fot5"></i><a href="#">准时到达</a>
				</li>
			</ul>
			<hr />
			<div class="fot-center">
				<a href="#"><img src="./img/tmp/footer_logo.png"/></a>
				<div class="qrcode">
					<div class="android-box">
						<img src="./img/tmp/adlife_ma.png"/>
						<p><i class="icon-phone"></i>Android下载</p>
					</div>
					<div class="ios-box">
						<img src="./img/tmp/ioslife_ma.png"/>
						<p><i class="icon-phone"></i>IOS下载</p>
					</div>
				</div>
				<ul class="fot-nav">
					<li>
						<h2><a href="#">关于易和</a></h2>
						<p><a href="otherInfo.html">新用户注册</a></p>
						<p><a href="otherInfo.html">支付方式</a></p>
					</li>
					<li>
						<h2><a href="#">快递说明</a></h2>
						<p><a href="otherInfo.html">验货与签收</a></p>
						<p><a href="otherInfo.html">退换货规则</a></p>
						<p><a href="otherInfo.html">配送方式</a></p>
					</li>
					<li>
						<h2><a href="#">关于我们</a></h2>
						<p><a href="otherInfo.html">公司简介</a></p>
						<p><a href="otherInfo.html">积分介绍</a></p>
					</li>
				</ul>
			</div>
		</div>
		<div class="fotcopyright">
			<p>版权所有 &copy; 2016易和生活港&emsp;保留所有权利&emsp;|&emsp;鲁ICP备：16022180号-1</p>
			<p>易和生活&emsp;众享品质</p>
			<p><a href="#">北京澳环科技提供技术支持</a></p>
		</div>
	<!--</body>
</html>-->
