<!--<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/tmp.css"/>
		<script src="../js/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>-->
		<div class="head">
			<div class="head_body">
				<!--头部菜单-->
				<div>
					<div class="select_city">
						所在城市：<a class="curr" href="city.html">苏州<i class="down_arrow"></i></a>
					</div>
					<ul class="quick-menu">
						<li><a href="vip_load.html" class="menu">登录</a></li>
						<li><a href="vip_register.html" class="menu">注册</a></li>
						<li class="line">|</li>
						<li><a href="left.html" class="menu">我的订单</a></li>
						<li class="line">|</li>
						<li><a href="left.html" class="menu">我的消息</a></li>
						<li class="line">|</li>
						<li><a href="shoper_load.html" class="menu">我是商家</a></li>
						<li class="line">|</li>
						<li><a href="#" class="menu">400-100-0907</a></li>
					</ul>
				</div>
				<!--logo 搜索框等-->
				<div>
					<div class="logo"><a href="#"><img src="./img/logo.png"/></a></div>
					<div class="search">
						<div class="search-class">
							<div class="shop">商家</div><div class="goods">商品</div>
						</div>
						<div class="search-area">
							<input type="text" class="keywords" name="" id="" value="" />
							<a href="#"><button><i class="search-btn"></i></button></a>
						</div>
						<ul class="hot-keywords hot-keywords1">
							<li><span>热门：</span></li>
							<li><a href="#">烤肉</a></li>
							<li><a href="#">麻辣香锅</a></li>
							<li><a href="#">美发</a></li>
						</ul>
						<ul class="hot-keywords hot-keywords2">
							<li><span>热门：</span></li>
							<li><a href="#">麻辣烫</a></li>
							<li><a href="#">海鲜</a></li>
							<li><a href="#">樱桃</a></li>
						</ul>
					</div>
					<div class="myyh-shopcar-box">
						<a href="left.html"><div class="myyh"><i class="icon-user"></i>我的易和<i class="down_arrow"></i></div></a>
						<a href="shopcar.html"><div class="myshopcar"><i class="icon-shopcar"></i>购物车<i class="down_arrow"></i></div></a>
					</div>
				</div>
			</div>
			<!--head-nav  行业分类等-->
			<div class="head-nav-box">
				<div class="head-nav">
					<div>
						<div class="all-class">
							行业分类<i class="icon-classes"></i>
							<!--行业分类子菜单-->
							<div class="main-nav">
								<div>
									<ul class="nav-list">
										<a href="#"><li>餐饮<i class="icon-right-arrow"></i></li></a>
										<a href="#"><li>服饰<i class="icon-right-arrow"></i></li></a>
										<a href="#"><li>娱乐<i class="icon-right-arrow"></i></li></a>
										<a href="#"><li>家居<i class="icon-right-arrow"></i></li></a>
										<a href="#"><li>零售<i class="icon-right-arrow"></i></li></a>
										<a href="#"><li>日化<i class="icon-right-arrow"></i></li></a>
										<a href="#"><li>建材<i class="icon-right-arrow"></i></li></a>
										<a href="#"><li>酒店<i class="icon-right-arrow"></i></li></a>
										<a href="#"><li>旅游<i class="icon-right-arrow"></i></li></a>
									</ul>
									<!--二级菜单-->
									<div class="second-nav">
										<ul class="item-list active">
											<li class="item"><a href="#">火锅</a></li>
											<li><a>|</a></li>
											<li class="item"><a href="#">自助餐</a></li>
											<li><a>|</a></li>
											<li class="item"><a href="#">小吃快餐</a></li>
											<li><a>|</a></li>
											<li class="item"><a href="#">日韩料理</a></li>
											<li><a>|</a></li>
											<li class="item"><a href="#">西餐</a></li>
											<li><a>|</a></li>
											<li class="item"><a href="#">烧烤烧肉</a></li>
											<li><a>|</a></li>
											<li class="item"><a href="#">东北菜</a></li>
										</ul>
									</div>
									<div class="second-nav" style="display: none;">
										<ul class="item-list">
											<li class="item"><a href="#">男装</a></li>
											<li><a>|</a></li>
											<li class="item"><a href="#">凉鞋凉拖</a></li>
											<li><a>|</a></li>
											<li class="item"><a href="#">潮流女包</a></li>
											<li><a>|</a></li>
											<li class="item"><a href="#">精品男包</a></li>
											<li><a>|</a></li>
											<li class="item"><a href="#">功能箱包</a></li>
											<li><a>|</a></li>
											<li class="item"><a href="#">其他服饰</a></li>
											<li><a>|</a></li>
											<li class="item"><a href="#">女装</a></li>
										</ul>
									</div>
									<div class="second-nav" style="display: none;">
										<ul class="item-list">
											<li class="item"><a href="#">桌游/电玩</a></li>
											<li><a>|</a></li>
											<li class="item"><a href="#">运动健身</a></li>
											<li><a>|</a></li>
											<li class="item"><a href="#">足疗按摩</a></li>
											<li><a>|</a></li>
											<li class="item"><a href="#">洗浴汗蒸</a></li>
											<li><a>|</a></li>
											<li class="item"><a href="#">温泉</a></li>
											<li><a>|</a></li>
											<li class="item"><a href="#">DIY手工</a></li>
											<li><a>|</a></li>
											<li class="item"><a href="#">密室逃脱</a></li>
										</ul>
									</div>
									<div class="second-nav" style="display: none;">
										<ul class="item-list">
											<li class="item"><a href="#">成套家具</a></li>
											<li><a>|</a></li>
											<li class="item"><a href="#">窗类</a></li>
											<li><a>|</a></li>
											<li class="item"><a href="#">柜类</a></li>
											<li><a>|</a></li>
											<li class="item"><a href="#">床垫</a></li>
											<li><a>|</a></li>
											<li class="item"><a href="#">沙发</a></li>
											<li><a>|</a></li>
											<li class="item"><a href="#">桌类</a></li>
											<li><a>|</a></li>
											<li class="item"><a href="#">椅凳</a></li>
											<li><a>|</a></li>
											<li class="item"><a href="#">架箱类</a></li>
										</ul>
									</div>
									<div class="second-nav" style="display: none;">
										<ul class="item-list">
											<li class="item"><a href="#">超市</a></li>
											<li><a>|</a></li>
											<li class="item"><a href="#">水果生鲜</a></li>
											<li><a>|</a></li>
											<li class="item"><a href="#">日用品</a></li>
											<li><a>|</a></li>
											<li class="item"><a href="#">百货</a></li>
											<li><a>|</a></li>
											<li class="item"><a href="#">配件</a></li>
											<li><a>|</a></li>
											<li class="item"><a href="#">其他产品</a></li>
										</ul>
									</div>
									<div class="second-nav" style="display: none;">
										<ul class="item-list">
											<li class="item"><a href="#">面部护理</a></li>
											<li><a>|</a></li>
											<li class="item"><a href="#">洗发护发</a></li>
											<li><a>|</a></li>
											<li class="item"><a href="#">身体护理</a></li>
											<li><a>|</a></li>
											<li class="item"><a href="#">口腔护理</a></li>
											<li><a>|</a></li>
											<li class="item"><a href="#">女性护理</a></li>
											<li><a>|</a></li>
											<li class="item"><a href="#">香水彩妆</a></li>
										</ul>
									</div>
									<div class="second-nav" style="display: none;">
										<ul class="item-list">
											<li class="item"><a href="#">基础建材</a></li>
											<li><a>|</a></li>
											<li class="item"><a href="#">卫浴洁具</a></li>
											<li><a>|</a></li>
											<li class="item"><a href="#">厨卫电器</a></li>
											<li><a>|</a></li>
											<li class="item"><a href="#">卫浴五金</a></li>
											<li><a>|</a></li>
											<li class="item"><a href="#">地板地暖</a></li>
											<li><a>|</a></li>
											<li class="item"><a href="#">灯具开关</a></li>
										</ul>
									</div>
									<div class="second-nav" style="display: none;">
										<ul class="item-list">
											<li class="item"><a href="#">经济型酒店</a></li>
											<li><a>|</a></li>
											<li class="item"><a href="#">豪华酒店</a></li>
											<li><a>|</a></li>
											<li class="item"><a href="#">主题酒店</a></li>
											<li><a>|</a></li>
											<li class="item"><a href="#">度假酒店</a></li>
											<li><a>|</a></li>
											<li class="item"><a href="#">公寓型酒店</a></li>
											<li><a>|</a></li>
											<li class="item"><a href="#">青年旅社</a></li>
										</ul>
									</div>
									<div class="second-nav" style="display: none;">
										<ul class="item-list">
											<li class="item"><a href="#">温泉</a></li>
											<li><a>|</a></li>
											<li class="item"><a href="#">景点</a></li>
											<li><a>|</a></li>
											<li class="item"><a href="#">主题公园</a></li>
											<li><a>|</a></li>
											<li class="item"><a href="#">水上公园</a></li>
											<li><a>|</a></li>
											<li class="item"><a href="#">动植物园</a></li>
											<li><a>|</a></li>
											<li class="item"><a href="#">海洋馆</a></li>
											<li><a>|</a></li>
											<li class="item"><a href="#">展览馆</a></li>
											<li><a>|</a></li>
											<li class="item"><a href="#">游船</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<ul>
						<li class="active"><a href="index.html">首页</a></li>
						<li><a href="choice_seller.html">精选商家</a></li>
						<li><a href="#">今日特价</a></li>
						<li><a href="integral.html">积分商城</a></li>
						<li><a href="join_us.html">加入易和</a></li>
						<li class="online-server">
							在线客服
							<div class="server">
								<i class="icon-curr"></i>
								<a href="http://shang.qq.com/"><i class="icon-qqserver"></i>QQ客服1</a>
								<a href="http://shang.qq.com/"><i class="icon-qqserver"></i>QQ客服2</a>
								<a href="http://shang.qq.com/"><i class="icon-qqserver"></i>QQ客服3</a>
								<a href="#"><img src="./img/qq-server.jpg"/></a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div style="margin-top: 178px;"></div>
		<script type="text/javascript">
			$(function(){
				/*在线客服菜单显示与隐藏*/
				$(".online-server").mouseenter(function(){
					$(".online-server .server").show();
				});
				$(".online-server").mouseleave(function(){
					$(".online-server .server").hide();
				});
				
				/*行业分类菜单显示与隐藏*/
				//鼠标 进入/离开 行业分类是显示
				$(".all-class").mouseenter(function(){
					//进入二级菜单时一级和二级菜单不消失
					$(".all-class .main-nav").show();
				});
				$(".all-class").mouseleave(function(){
					$(".all-class .main-nav").hide();
				});
				$(".nav-list a").mouseenter(function(){
					$(".second-nav").css("display","none");
					$(".second-nav")[$(this).index()].style.display = "block";
				})
				
				/*商家/商品切换*/
				$(".search-class>div").mouseenter(function(){
					/*console.log($(this).index());
					console.log($(".hot-keywords")[$(this).index()].style.background);*/
					$(".hot-keywords").css("display","none");
					$(".hot-keywords")[$(this).index()].style.display = "block";
					$(".search-class>div").css("color","black");
					$(".search-class>div")[$(this).index()].style.color = "#FFFFFF";
					$(".search-class>div").css("background","#FFFFFF");
					$(".search-class>div")[$(this).index()].style.background = "#008CE1";
					
				})
				
				
				
				
			})
			
		</script>
	<!--</body>
	<script type="text/javascript">
		//
	</script>
</html>-->
